.contenedorResumen{
    border: none;
    border-radius: 10px;
    background-color: #f9f9fa;
    box-shadow: 2px 2px 8px rgba(131, 131, 254, 0.5);
    text-align: left;
    width: auto;
    padding: 10px 25px 20px;
}
.contenedorListadoProductos{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 21px ;
    margin-top: 20px;
}