.contenedorProducto{
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(131, 131, 254, 0.5);
    background-color: #f9f9fa;
    width: 200px;
    padding: 25px 15px 10px 25px;
}
.contenedorPrecioPeso{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 70px;
}
img{
    width: 120px;
    height: 100px;
    object-fit: cover;
    object-position: center; 
}