.inicio__columnas {
    display: flex;
    flex-direction: row;
}

.inicio__columna {
    margin: 15px;
    text-align: justify;
    width: 50%;
}

.inicio__terminal{
    font-family: 'Courier New', Courier, monospace;
}

.contenedorInicio {
    padding: 0 20px;
} 