#contenidoPrincipal {
    position: relative;
    width: 100%; /* Mantén el ancho al 100% */
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    z-index: 1000;
    box-sizing: border-box;
  }
  