.blanco{
    background-color: rgb(255, 255, 255);
}
.negro{
    background-color: black;
}
.rojo{
    background-color: red;
}
.amarillo{
    background-color: yellow;
}
.verde{
    background-color: green;
}
.azul{
    background-color: blue;
}

body{
    display: flex;
    gap: 30px;
    flex-wrap: wr;

}

#pinturas{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-family: sans-serif;
}

#colores{
    display: flex;
    gap: 5px;
}

#colores td{
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;

}

.seleccionada{
    outline: 1px solid black;
    outline-offset: 2px;
}

button{
    margin: 20px 0;
    padding: 10px 30px;
    background-color: rgb(213, 212, 212);
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    cursor: pointer;
}

#lienzo td{
    width: 10px;
    height: 10px;
    border: 1px solid rgb(215, 214, 214);
}
