#contenido_principal{
    /* display: flex; */
    border: solid 1px;
    border-radius: 4px;
    margin-top: 15px;
    padding: 10px 15px 20px;
    width: 100%;
    min-height: auto;
    text-align: left;
}