.navegacion__menu {
    display: flex;
}

.navegacion__enlace {
    display: flex;
    place-items: center;
    justify-content: center; 
    min-width: 120px;
    height: 40px;
    background-color: #cecece; 
    margin-right: 10px;
    color: #000;
    border-radius: 3px;
}

.navegacion__enlace:hover {
    background-color: #a5a4a4; 
    border-color: grey;
    color: white;
} 