#contenedor-enciclopedia{
    border: 2px dotted blue;
    width: 100%;
    display: flex;
}

#contenedor-peliculas{
    width: 25%;
    margin: 5px;
    padding: 10px 15px;
}

#contenedor-peliculas ul {
    list-style: none;
    padding: 0;
}

#contenedor-peliculas ul li{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#contenedor-peliculas ul li:hover{
    background-color: rgb(20, 20, 184);
    color: white;
}

#contenedor-información{
    width: 75%;
    margin: 5px;
    padding: 10px 15px;
}
h3{
    margin-top: 10px;
}